nav.info--nav{
    padding: 3vh 2vw;
    // background-color: #111;
    background: linear-gradient(3600deg ,
        rgba(#000, 0%) 0%,
        rgba(#000, 30%) 15%,
        rgba(#000, 100%) 90%);
    color: #f1f1f1;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        
        li{
            
            button{
                background-color: unset;
                outline: 0;
                color: inherit;
                font-size: 1.2rem;
                
                a{
                    color: inherit;
                    text-decoration: none;
                    gap: .5em;
                    align-items: center;
                    display: flex;
                    transition: all 200ms ease-in-out;
                    
                    &:hover{
                        color: wheat;
                        letter-spacing: .2em;
                    }
                }
            }

            .logo-title{
                font-size: 1rem;
                font-weight: bold;
                padding: 0;
            }

            
        }
    }

}