.favorite-container {
  display: flex;
  flex-shrink: 0;
  background-color: #efe5f8;
  border-radius: 0.6rem;
  overflow-x: hidden;
  position: relative;
}
.favorite-container > button {
  position: absolute;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100px;
  inset: 0;
  background-color: unset;
  font-weight: bolder;
}
.favorite-container > button:hover {
  background-color: #fbf2e0;
}
.favorite-container > button a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1em;
  background-color: unset;
  font-weight: bold;
  color: #333;
}

.favorite-card {
  background-color: #3a1756;
  padding: 0.4em;
  display: flex;
  width: 100%;
  z-index: 5;
  gap: 0.5rem;
  transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.favorite-card.show {
  transform: translate(100px);
}
.favorite-card:hover {
  background-color: #67299b;
  cursor: pointer;
}
.favorite-card img {
  width: 20%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1.5;
  border-radius: 0.3rem;
}
.favorite-card button {
  background-color: #2c1242;
  color: #f1f1f1;
  outline: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 50px;
}
.favorite-card button:hover {
  background-color: #ff6666;
}
.favorite-card div.fav_details {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
}
.favorite-card div.fav_details .genre {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.favorite-card div.fav_details .type {
  text-transform: uppercase;
  color: wheat;
}
.favorite-card div.fav_details .title {
  color: #fff;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.skeleton {
  opacity: 0.5;
  animation: skeleton-loading 0.7s linear infinite reverse;
}
@keyframes skeleton-loading {
  0% {
    background-color: #f1f1f1;
  }
  100% {
    background-color: #777;
  }
}

.favorite-skeleton {
  background-color: #333;
  padding: 0.4em;
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 0.5rem;
  border-radius: 0.5rem;
  animation: slideUp 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.favorite-skeleton img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1.5;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem;
  border: 0;
  background-color: #a1a1a1;
}
.favorite-skeleton div.fav_details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.favorite-skeleton div.fav_details .genre {
  height: 0.6rem;
  border-radius: 1rem;
  background-color: #a1a1a1;
  width: 45%;
}
.favorite-skeleton div.fav_details .type {
  height: 0.6rem;
  border-radius: 1rem;
  background-color: wheat;
  width: 25%;
}
.favorite-skeleton div.fav_details .title {
  height: 0.6rem;
  border-radius: 1rem;
  background-color: #fff;
  width: 75%;
}
.favorite-skeleton div.fav_details .year {
  height: 0.6rem;
  border-radius: 1rem;
  background-color: #a1a1a1;
  width: 20%;
}/*# sourceMappingURL=fav.css.map */